.container {
    background-color: #9dabb986;
    padding: 0px;
    padding-bottom: 1px;
}

.logged-user {
    display: flex;
    position: relative;
    width: 150px;
    top: -23px;
    margin-left: 100px;
    color: #ffffff71;
    font-size: 0.8rem;
}

.icon {
    color: #ffffff;
    padding: 5px;
    cursor: pointer;
}

.icon:hover {
    background-color: #f5f6fa21;
    box-shadow: 2px 2px 1px #353b48;
    border-radius: 4px;
}

.nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #487eb0;
}

.nav .nav-header {
    display: inline;
}

.nav .nav-title a {
    display: inline-block;
    font-size: 22px;
    color: #f5f6fa;
    padding-left: 10px;
}

.nav .nav-btn {
    display: none;
}

.nav .nav-links { 
    display: flex;
    display: inline-block;
    text-align: right;
    width: 100%;
}

.nav .nav-links::after {
    content: '';
    display: inline-block;
}

.nav .nav-links a {
    display: inline-block;
    padding: 8px 10px;
    color: #f5f6fa;
}

.nav .nav-links a:hover {
    background-color: #f5f6fa49;
    border-radius: 4px;
}

.nav #nav-check {
    display: none;
}

@media (max-width: 768px) {
    .nav .nav-btn {
        display: inline-block;
        position: absolute;
        color: #f5f6fa;
        top: 0;
        right: 0;
    }

    .nav-btn:hover {
        cursor: pointer;
        background-color: #f5f6fa49;
        border-radius: 4px;
    }

    .nav i{
        font-size: 1.6rem;
    }

    .nav .nav-links {
        position: absolute;
        display: block;
        justify-content: end;
        width: 100%;
        background-color: #487eb0e1;
        height: 0px;
        transition: all 0.3s ease-in-out;
        overflow-y: hidden;
        top: 40px;
        left: 0;
    }
    .nav .nav-links a {
        display: block;
        width: 100%;
        text-align: center;
    }

    .nav #nav-check:checked + .nav-links {
        height: 52vh;
    }

}

/* Formating list page */
.list-body {
    padding: 4px;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #487eb0;
    padding-top: 20px;
    padding-bottom: 10px;
}

.list-top {
    background-image: linear-gradient(#ffffff1c, #487eb0);
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.btn-line {
    display: flex;
    justify-content: center;
}

.list-top .btn-add, .btn-save, .btn-login, .btn-reg {
    color: #f5f6fa;
}

.btn-add, .btn-save, .btn-login, .btn-reg {
    background-color: #487eb0;
    padding: 4px;
    margin-right: 10px;
    border-radius: 4px;
    width: 60px;
}

.btn-add:hover, .btn-save:hover, .btn-login:hover, .btn-reg:hover {
    cursor: pointer;
    background-color: rgba(72, 126, 176, 0.39);
    border-radius: 4px;
}

.btn-add .icon {
    margin-right: 4px;
}

/* search bar */
#search {
    border-radius: 4px;
    min-width: 60%;
    height: 25px;
}

.list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-image: linear-gradient(#ffffff1c, #487eb0);
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 4px;
    color: #353b48;
}

.list li {
    display: flex;
    flex-wrap: wrap;
}

.done {
    color: rgba(53, 59, 72, 0.548);
}

.title {
    width: calc(100% - 154px);
    flex-wrap: wrap;
}

.title:hover {
    background: rgba(255, 255, 255, 0.274);
    border-radius: 8px;
    cursor: pointer;
}

.list a {
    color: #353b48;
}

.iconlist {
    width: 60px;
}

.done {            /*task status in the task list*/
    display: inline-block;
    width: 80px;
    margin-left: 4px;
}

/* Paginator */
.pagination {
    display: flex;
    justify-content: center;
}

.current {
    color: #487eb0;
    font-size: 1rem;
}

.pagination i {
    color: #f5f6fa;
    text-shadow: 2px 0px 2px #487eb0, -2px 0px 2px #487eb0;
}

/* Footer */
footer {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    background-image: linear-gradient(#ffffff1c, #487eb0);
    color: #353b48;
    margin: 4px;
    height: 25px;
}

footer p {
    display: flex;
    position: relative;
    justify-content: end;
    margin-right: 4px;
    color: #ffffff71;
    font-size: 0.8rem;
}

/* Login form */
.login-body {
    display: flex;
    justify-content: center;
}

.login-card {
    width: 300px;
    height: 200px;
    background-image: linear-gradient(#ffffff1c, #487eb0);
    margin-top: 20px;
    margin-bottom: 40px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 4px;
    color: #353b48;
    box-shadow: 2px 2px 2px #353b48;
}

h4 {
    text-align: center;
    margin-bottom: 30px;
    color: rgba(53, 59, 72, 0.664);
}

.login-form {
    display: flex;
    flex-direction: column;
}

.fields-login {
    width: 100%;
}

.login-body p {
    text-align: center;
    font-size: 1rem;
    color: rgba(53, 59, 72, 0.788);
}


.store-velue {
    display: none;
}

.btn-login, .btn-reg {
    width: 60px;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.div-btn-login {
    display: flex;
    justify-content: center;
}

/* Register */
.box-reg {
    display: flex;
    justify-content: center;
}

.reg-card {
    width: 450px;
    height: 440px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    background-image: linear-gradient(#ffffff1c, #487eb0);
    box-shadow: 2px 2px 2px #353b48;
}

.reg-card span, li, p {
    color: rgba(53, 59, 72, 0.788);
    font-size: 0.9rem;
    padding: 4px;
}

.div-btn-reg {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}