{% extends 'base.html' %}

{% block title %}Lista de Chamados{% endblock %}


{% block content %}
<div class="list-body">
    <h1>Lista de chamados</h1>
    <div class="list-top">
        <a href="newtask/">
            <span class="btn-add"><i class="fa fa-plus" aria-hidden="true"></i> Novo</span>
        </a>
        <form method="GET" id="search-form">
            <input type="text" id="search" name="search" placeholder="Buscar chamado aqui..." value="{{ request.GET.search }}">
            <i class="fa fa-search icon" id="search-btn"></i>
        </form>
    </div>
    <div class="message" id="message" role="alert">
        {% for message in messages %}
            {{message}}
        {% endfor %}
    </div>
    <ul class="list">
        {% for task in tasks %}
            <li>
                <div class="done">{{task.done}}</div> | 
                <div class="title"><a href="task/{{task.id}}">{{task.title}}</a></div>
                <div class="iconlist">
                    <a href="edit/{{task.id}}"><i class="fa fa-pencil icon" aria-hidden="true"></i></a>
                    <a href="delete/{{task.id}}"><i class="fa fa-trash-o icon" aria-hidden="true"></i></a>
                </div>
                    <hr>
            </li>
        {% endfor %}
    </ul>
    <div class="pagination">
        <span class="step-links">
            {% if tasks.has_previous %}
                <a href="?page={{ tasks.previous_page_number }}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
            {% endif %}
            
            {% if tasks.paginator.num_pages %}
            <span class="current">
                {{tasks.number}} de {{ tasks.paginator.num_pages }}
            </span>
            {% endif %}

            {% if tasks.has_next %}
                <a href="?page={{ tasks.next_page_number }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
            {% endif %}
        </span>
    </div>
</div>

{% endblock %}