{% extends 'base.html' %}

{% block title %}Lista de Chamados{% endblock %}


{% block content %}
<div class="list-body">
    <h1>Lista de chamados</h1>
    <div class="list-top">
        <a href="newtask/">
            <span class="btn-add"><i class="fa fa-plus" aria-hidden="true"></i> Novo</span>
        </a>
        <input type="text" id="search" name="search" placeholder="Buscar chamado aqui...">
        <i class="fa fa-search icon" aria-hidden="true"></i>
    </div>

    <ul class="list">
        {% for task in tasks %}
            <li>
                <div class="done">{{task.done}}</div> | <span><a href="task/{{task.id}}">{{task.title}}</a></span>
                    <div class="iconlist">
                        <a href="edit/{{task.id}}"><i class="fa fa-pencil icon" aria-hidden="true"></i></a>
                        <i class="fa fa-trash-o icon" aria-hidden="true"></i>
                    </div>
                    <hr>
            </li>
        {% endfor %}

    </ul>
</div>

{% endblock %}