{% extends 'base.html' %}

{% block title %}Lista de Chamados{% endblock %}


{% block content %}
<div class="list-body">
    <h1>Lista de chamados</h1>
    <div class="list-top">
        <a href="newtask/">
            <span class="btn-add"><i class="fa fa-plus" aria-hidden="true"></i> Novo</span>
        </a>
        <input type="text" id="search" name="search" placeholder="Buscar chamado aqui...">
        <i class="fa fa-search icon" aria-hidden="true"></i>
    </div>

    <ul class="list">
        {% for task in tasks %}
            <li>
                <span>Cliente</span><span> | {{task.created_at}} | </span><span><a href="task/{{task.id}}">{{task.title}}</a></span>
                <a href="edit/{{task.id}}"><span><i class="fa fa-pencil icon" aria-hidden="true"></i></span></a>
                <span><i class="fa fa-trash-o icon" aria-hidden="true"></i></span>
                <hr>
            </li>
        {% endfor %}

    </ul>
</div>

{% endblock %}